/* ---------------header---------------------------- */
/* body{position: relative;}
header{
    display: flex;
    height: 56px;
    background-color: blue;
    padding: 10px 12px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
} */
/* .min-header{
    width: 100%;
    height: 56px;
    position: fixed;
    background: #fff;
    z-index: 100;
    padding: 10px 24px;
}
.min-header .min-header-center{
    height: 56px;
    display: flex;
    margin: 0 auto;
    width: 1200px;
    
}
.min-header .min-header-center .min-header-center-a{
    height: 34px;
}
.min-header .min-header-center .min-header-center-a a{
    line-height: 34px;
    margin-left: 5px;
}
.min-header .min-header-center .font2span a{
    line-height: 34px;
}
/* .min-header .min-header-center form{
    height: 20px;
} */
/* .min-header .min-header-center form input{
    /* width:100% ; */
    /* border-radius: 5px;
    margin: 10px 5px 5px 10px;
}
.min-header .min-header-center .min-header-center-img{
    width: 36px;
    height: 36px;
    
}
.min-header .min-header-center .min-header-center-img img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.min-header-center .min-header-center-span{
    height: 34px;
    margin-left: 10px;
} */
/* .min-header-center .min-header-center-span span{
    line-height: 34px;
}
.min-header-center .min-header-center-span span:last-child{
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 36px;
    background-color: deeppink;
    color: #fff;
}


.min-header .font2span{
    width: 131px;
    height: 34px;
    display: inline-block;
    display: flex;
}
.min-header .font2span span{
    font-size: 30px;
    padding-right: 20px;
}  */
.mini{
    position: relative;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    z-index: 1;
    width: 100%;
    height: 56px;
}
.mini .mini_center{
    padding: 10px 12px;
    line-height: 30px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.mini .mini_center .center_left{
    line-height: 30px;
}
.mini .mini_center .center_left ul{
    height: 36px;
    display: flex;
    align-items: center;
    line-height: 30px;
}
.mini .mini_center .center_left ul li{
    margin-right: 12px;
    line-height: 30px;
}
.mini .mini_center .center_left ul li:nth-of-type(1) span a{
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
    line-height: 32px;
    white-space: nowrap;
    display: flex;
    color: #212121;
    text-shadow: none;
    text-decoration: none;
    transition: color 0.3s;
}
.mini .mini_center .center_left ul li:nth-of-type(1) span span:nth-of-type(1){
    width: 70px;
    height: 32px;
    margin-right: 16px;
    color: #212121;
    text-shadow: none;
    font-size: 14px;
    line-height: 32px;
    white-space: nowrap;
}
.mini .mini_center .center_left ul li:nth-of-type(1) span span:nth-of-type(2){
    width: 16px;
    height: 16px;
    align-self: center;
    transform: rotate(180deg);
    transition: transform 0.3s;
    color: #212121;
    text-shadow: none;
    font-size: 14px;
    line-height: 32px;
    white-space: nowrap;
}

.mini .mini_center .center_center{
    margin: 0 10px;
    width: 500px;
    transition: 0.3s width;
    line-height: 30px;
}
.mini .mini_center .center_right{
    display: flex;
    flex-shrink: 0;
    line-height: 30px;
}

/* ----------------banner------------------------ */
.banner{
    width: 100%;
    height: 240px;
    margin-bottom: 32px;
    /* background-color: chartreuse;   12 */
    position: relative;
}
.banner .banner-img{
    height: 240px;
    width: 100%;
    background-color: darkcyan;/*12 */
    background: url("https://i0.hdslb.com/bfs/archive/1e22f891455fba813aa36158b4a92168f0b146c1.png") no-repeat center  ;
}
/* .banner .w{
    width: 1110px;
    background-color: green;
    height: 40px;
    
} */
.banner .buttom{
    width: 100%;
    height: 40px;
    /* margin-top: 200px; */
    background: rgba(13,18,29,.9);
    position: absolute;
    /* left: 0; */
    bottom: 0;
}
.banner .buttom .left{
    float: left;
}
.banner .buttom .left ul{
    width: 440px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.banner .buttom .left ul li{
    font-size: 16px;
    margin-right: 36px;
    cursor: pointer;
    float: left;
}
.banner .buttom .left ul li a{
    font-size: 14px;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    color: hsla(0,0%,100%,.6);
}
.banner .buttom .left ul li:nth-of-type(1) a{
    color: #00a1d6;
    border-bottom: 2px solid #00a1d6;
}
.banner .buttom .left ul li:hover a{
    color: #00a1d6;
    border-bottom: 2px solid #00a1d6;
    
}
.banner .buttom .right{
    float: right;
    width: 240px;
    height: 28px;
    margin: auto 0;
    background: hsla(0,0%,100%,.1);
    border: 1px solid hsla(0,0%,100%,.16);
    border-radius: 76px;
    margin-top: 6px;
    position: relative;

}
.banner  .buttom .right form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px 0 40px;
    box-sizing: border-box;
}
.banner  .buttom .right form input{
    color: hsla(0,0%,100%,.5);
    background: transparent;
    border: 0;
}
.banner  .buttom .right form span{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: rgb(255 252 250);
}
/* ---------------events   ----------------------- */
.events{
    width: 1320px;
    position: relative;
}
.events .events_left{
    position: absolute;
    left: -35px;
    background: #f4f5f7;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    width: 22px;
    height: 138px;
    line-height: 138px;
    top: 0px;
    text-align: center;
    color: #99a2aa;
    font-size: 20px;
    cursor: pointer;
}
.events .events_right{
    position: absolute;
    right: -45px;
    background: #f4f5f7;
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    width: 22px;
    height: 138px;
    line-height: 138px;
    top: 0px;
    text-align: center;
    color: #99a2aa;
    font-size: 20px;
    cursor: pointer;
}
.events .events_allmatch{
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    padding: 15px 0;
    color: #6d757a;
    line-height: 14px;
    text-align: center;
    right: -45px;
    width: 22px;
    bottom: 0;
    position: absolute;
    cursor: pointer;
}
.events ul{
    white-space: nowrap;
    width: 1330px;
    overflow: hidden;
}
.events ul li{
    box-sizing: content-box;
    height: 211px;
    display: inline-block;
    border: 1px solid #f4f5f7;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
    padding: 12px 16px 15px;
    margin-right: 10px;
    width: 288px;
    vertical-align: top;
}
.events li .up{
    width: 100%;
    height: 32px;
    /* background-color: darkcyan; */
    position: relative;
}
.events li .up img{
    position: absolute;
    width: 28px;
    top: 2px;
    left: 0;
}
.events ul li .up span{
    color: #909aa0;
    height: 32px;
    line-height: 32px;
    margin-left: 32px;
}
.events ul li .up_2{
    background: url(./img/events\ up_2.png);
    height: 8px;
    margin-bottom: 8px;
}
.events ul li .events_time{
    font-size: 18px;
    color: #222;
    letter-spacing: 0px;
    text-align: center;
    margin-right: 8px;
}
.events ul li .events_time span:nth-of-type(2){
    font-family: Arial;
    font-weight: 700;
}
.events ul li .events_time span:nth-of-type(3){
    color: #f25d8e;
    font-family: Microsoft YaHei;
    font-weight: 700;
}
.events ul li .events_time span:nth-of-type(4){
    color: #99a2aa;
    font-family: Microsoft YaHei;
    font-weight: 700;
}
.events ul li .events_team{
    width: 100%;
    height: 65px;
    /* background-color: darkcyan; */
    text-align: center;
}
.events ul li .events_team .events_team_left{
    width: 48px;
    height: 48px;
    margin-bottom: 2px;
    display: inline-block;
}
.events ul li .events_team .events_team_center{
    display: inline-block;
    box-shadow: 6px 4px 16px -2px rgb(255 83 140 / 40%), -6px -4px 16px -2px rgb(14 195 255 / 40%);
    border-radius: 100px;
    font-size: 32px;
    width: 102px;
    height: 38px;
    margin: 0 24px;
    top: -14px;
    position: relative;
    text-align: center;
}
.events ul li .events_team .events_team_right{
    display: inline-block;
    width: 48px;
    height: 62px;
    
}
.events ul li .events_team .events_team_right img{
    width: 48px;
    height: 48px;
}
.events ul li .events_team .events_team_left P{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 48px;
    color: #99a2aa;
    line-height: 12px;
}
.events ul li .events_team .events_team_right P{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 48px;
    color: #99a2aa;
    line-height: 12px;
}
.events ul li .events_team .events_team_center span{
    color: #222;
    font-size: 32px;
}
.events ul li .events_team .events_team_center span:nth-of-type(2){
    margin: 0 6px;
}
.events ul li .events_team .events_team_center span:nth-of-type(3){
    color: #f25d8e;
}
.events ul li .events_btn{
    text-align: center;
    margin-bottom: 6px;
    width: 100%;
    height: 32px;
}
.events ul li .events_btn a{
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    color: #6d757a;
    text-align: center;
    padding: 6.5px 0;
    background: #00a1d6;
    color: #fff;
    line-height: 19px;
    width: 120px;
}
.events ul li .events_dese{
    width: 100%;
    text-align: center;
    color: #99a2aa;
}
.events ul li .btn{
    text-align: center;
    margin-bottom: 6px;
}
.events ul li .btn a:nth-of-type(1){
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
    color: #6d757a;
    text-align: center;
    padding: 6.5px 0;
    background: #00a1d6;
    color: #fff;
    height: 32px;
    line-height: 19px;
    width: 120px;
}
.events ul li .btn a:nth-of-type(2){
    display: inline-block;
    margin-left: 10px;
    width: 58px;
    border-radius: 4px;
    font-size: 14px;
    color: #6d757a;
    text-align: center;
    padding: 6.5px 0;
    display: inline-block;
    height: 32px;
    line-height: 17px;
    border: 1px solid #ccd0d7;
    background-color: #fff;
}

/* -------------遮罩--------------- */
.mask{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1010;
    background-color: rgba(0,0,0,.5);
    display: none;
}
.mask .modal{
    width: 340px;
    height: 272px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    background-color: #fff;
}
.mask .modal h2{
    display: block;
    font-size: 16px;
    line-height: 48px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.mask .modal .modal_center{
    padding: 30px 66px 60px;
    font-size: 14px;
    color: #030303;
    text-align: center;
    vertical-align: middle;
    min-width: 9em;
}
.mask .modal .modal_center p{
    font-family: Microsoft YaHei;
    font-size: 12px;
    color: #757575;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
}
.mask .modal .modal_center p:nth-of-type(1){
    font-size: 14px;
    color: #030303;
    text-align: center;
    line-height: 22px;
}
.mask .modal .modal_buttom{
    text-align: center;
    padding-bottom: 20px;
    word-break: break-all;
    line-height: 22px;
}
.mask .modal .modal_buttom a{
    color: #fff;
    background-color: #00a1d6;
    border-color: #00a1d6;
    display: inline-block;
    touch-action: manipulation;
    padding: 0 10px;
    line-height: 30px;
    min-width: 100px;
    transition: all .2s ease;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    box-sizing: border-box;
}
.mask .modal .modal_buttom .modal_buttom_a2{
    margin-left: 40px;
    
}
.events ul li .events_team .btn .btn_default{
    color: #6d757a;
    background-color: #fff;
    border: 1px solid #ccd0d7;
}
.events ul li .events_team .btn .btn_default:hover{
    cursor:pointer;
    color:  #00a1d6;
    background-color: #fff;
    border: 1px solid  #00a1d6;

}

/* --------------------主体-------------- */
.match_box{
    margin-top: 50px;
    height: 1442px;
    margin-bottom: 32px;
    /* background-color: #909aa0; */
}
.match_box .box_left{
    float: left;
    width: 1050px;
    height: 1442px;
    /* margin-right: 270px; */
}
.match_box .box_left .left_title{
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 24px;
}
.match_box .box_left ul{
    height: 370px;
    /* background-color: blue; */
}
.match_box .box_left ul li{
    width: 200px;
    height: 173px;
    float: left;
    margin-right: 10px;
    margin-bottom: 21px;
}
.match_box .box_left ul li img{
    width: 200px;
    height: 124px;
    border-radius: 4px;
    margin-bottom: 6px;
}
.match_box .box_left ul li a{
    width: 200px;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}
.match_box .box_left .left_buttom{
    color: #99a2aa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.match_box .box_left .left_buttom span{
    line-height: 20px;
    display: inline-block;
    margin-right: 30px;
}
.match_box .box_left .left_buttom  span:nth-of-type(1) span{
    font-size: 12px;
    margin-right: 5px;
}
.match_box .box_left .left_buttom span:nth-of-type(2) span{
    font-size: 16px;
    margin-right: 5px;
}


.match_box .box_right{
    float: right;
    width: 260px;
}
.match_box .box_right .right_p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
}
.match_box .box_right .box_list{
    margin-bottom: 62px;
}
.match_box .box_right .box_list ul li{
    margin-bottom: 20px;
    height: 48px;
}
.match_box .box_right .box_list ul li .list_left{
    width: 48px;
    height: 48px;
    float: left;
    margin-right: 12px;
    cursor: pointer;
}
.match_box .box_right .box_list ul li .list_left .left_img{
    width: 100%;
    height: 100%;
}
.match_box .box_right .box_list ul li .list_left .left_img img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.match_box .box_right .box_list ul li  p:nth-of-type(1){
    margin-bottom: 6px;
    line-height: 19px;
    font-size: 14px;
    color: #222;
}
.match_box .box_right .box_list ul li  p:nth-of-type(2){
    color: #99a2aa;
    line-height: 16px;
    cursor: pointer;
}
.box_buttom{
    width: 260px;
    height: 26px;
    background: #f4f5f7;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    color: #6d757a;
    cursor: pointer;
}
.match_box .box_right .right_contain ul li{
    height: 48px;
    margin-bottom: 16px;
    position: relative;
}
.match_box .box_right .right_contain ul li p:nth-of-type(1){
    font-size: 14px;
    color: #222;
    cursor: pointer;
    line-height: 24px;
    width: 220px;
    float: left;
    max-height: 48px;
}
.match_box .box_right .right_contain ul li p{
    overflow: hidden;
}
.match_box .box_right .right_contain ul li p span{
    background: #f25d8e;
    border-radius: 2px;
    color: #fff;
    width: 36px;
    text-align: center;
    display: inline-block;
    line-height: 16px;
    margin-right: 5px;
    font-size: 12px;
}
.match_box .box_right .right_contain ul li p:nth-of-type(2){
    float: right;
    color: #99a2aa;
    line-height: 24px;
}
/*------------------------       -------------------  */
.match_box .box_left .left_title2{
    
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 39px;
}
.match_box .box_left .left_type .type_ul{
    float: right;
   height: 0;

}
.match_box .box_left .left_type .type_ul li{
    width: 200px;
    height: 173px;
    float: left;
    margin-right: 10px;
    margin-bottom: 21px;
}
.match_box .box_left .left_type a div{
    width: 410px;
    height: 164px;
}
.match_box .box_left .left_type a div img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.match_box .box_left .left_user{
    margin-top: 70px;
    margin-bottom: 36px;
    font-size: 24px;
    line-height: 24px;
}
.left_foot{
    width: 1050;
    height: 131px;
    position: relative;
    /* overflow: hidden; */
}
.left_foot .foot_left{

    position: absolute;
    background: #f4f5f7;
    /* background-color: #222; */
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    width: 22px;
    height: 78px;
    top: 10px;
    left: 0;
    text-align: center;
    color: #99a2aa;
    font-size: 19px;
    cursor: pointer;
    z-index: 1;
}
.left_foot .foot_left span{
    line-height: 78px;
    font-weight: 400;
    text-align: center;
    color: #99a2aa;
}
body .left_foot  .foot_ul{
    transition: left .6s;
    /* white-space: nowrap; */
    position: absolute;
    left: 0;
    width: 1800px;
    /* padding-left: 46px; */
}
body .left_foot  .foot_ul li{
    /* display: inline-block; */
    /* vertical-align: top; */
    margin-right: 10px;
    width: 130px;
    text-align: center;
    float: left;
    
}

body .left_foot  .foot_ul li a{
    width: 130px;
     height: 103px;
     text-align: center;
}
.left_foot  .foot_ul li a div{
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    display: inline-block;
    
    text-align: center;
   
}
.left_foot  .foot_ul li a div img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
     border: 1px solid rgba(0,0,0,.06);
}
.left_foot  .foot_ul li a p{
    width: 130px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 8px;
    height: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
    color: #6d757a;
}
.left_foot  .foot_ul li .foot_foot{
    text-align: center;
    padding: 3px 0;
    width: 54px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #00a1d6;
    color: #fff;
    /* height: 19px; */
    line-height: 19px;
    margin: auto;
    /* display: inline-block; */
    cursor: pointer;
}
.left_foot .foot_right{

    position: absolute;
    background: #f4f5f7;
    /* background-color: #222; */
    border: 1px solid #e5e9ef;
    border-radius: 4px;
    width: 22px;
    height: 78px;
    top: 10px;
    right: 0;
    text-align: center;
    color: #99a2aa;
    font-size: 19px;
    cursor: pointer;
    z-index: 1;
}
.left_foot .foot_right span{
    line-height: 78px;
    font-weight: 400;
    text-align: center;
    color: #99a2aa;
}
.left_foot .foot_div{
    width: 982px;
    position: absolute;
    left: 46px;
    height: 173px;
    overflow: hidden;
}
.foot{
    font: 12px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #f6f9fa;
    padding: 30px 0;
    min-width: 999px;
}
.foot .foot_up{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    max-width: 1630px;
    min-width: 999px;
    margin: 0 auto;
    padding-left: 46px;
    width: 1320px;
}
.foot .foot_up .up_left{
    flex: 4;
    display: flex;
    justify-content: space-between;
}

.foot .foot_up .up_left .link_a{
    flex: 2;
    padding-right: 40px;
    margin-right: 40px;
    border-right: 1px solid #eee;
}
.foot .foot_up .up_left .link_a span{
    font-size: 16px;
    color: #999;
    display: block;
    height: 20px;
    margin-bottom: 20px;
}
.foot .foot_up .up_left ul{
    height: 110px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.foot .foot_up .up_left ul a{
    display: inline-block;
    margin-bottom: 10px;
    width: 50%;
    height: 20px;
    cursor: pointer;
    color: #212121;
    transition: color 0.3s;
}
.foot .foot_up .up_left .link_b{
    flex: 3;
    padding-right: 40px;
    margin-right: 40px;
    border-right: 1px solid #eee;
}
.foot .foot_up .up_left .link_b span{
    font-size: 16px;
    color: #999;
    display: block;
    height: 20px;
    margin-bottom: 20px;
}
.foot .foot_up .up_left .link_b ul{
    height: 110px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.foot .foot_up .up_left .link_b ul a{
    width: 33.3333%;
    margin-bottom: 10px;
    display: inline-block;
    height: 20px;
    cursor: pointer;
    color: #212121;
    transition: color 0.3s;
}
.foot .foot_up .up_left .link_b ul a:nth-of-type(4){
    margin-bottom: 0;
}
.foot .foot_up .up_left .link_b ul a:nth-of-type(8){
    margin-bottom: 0;
}
.foot .foot_up .up_left .link_b ul a:nth-of-type(12){
    margin-bottom: 0;
}
.foot .foot_up .up_left .link_a ul a:hover{
    color: #00a1d6;
}
.foot .foot_up .up_left .link_a ul a:nth-of-type(4){
    margin-bottom: 0;
}
.foot .foot_up .up_left .link_a ul a:nth-of-type(8){
    margin-bottom: 0;
}

.foot .foot_up .up_right{
    flex: 1;
    display: flex;
    align-items: center;
}
.foot .foot_up .up_right .right_link{
    padding-right: 0;
    border-right: none;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex: 2; 
}
.foot .foot_up .up_right .right_link .link_a{
    flex: 1;
    display: flex;
    min-width: 70px;
    justify-content: center;
    align-items: center;
}
.foot .foot_up .up_right .right_link .link_a1{
    color: #585f69;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: color 0.3s;
}

.foot .foot_up .up_right .right_link .link_a1 span{
    font-size: 50px; 
    font-weight: 400;
    color: #585f69;
    text-align: center;
}
.foot .foot_up .up_right .right_link .link_a1 p{
    margin-top: 10px;
    color: #212121;
    height: 20px;
    transition: color 0.2s;
    text-align: center;
}
.foot .foot_up .up_right .right_link .link_a1 p:hover{
    color: #00a1d6;
}
.foot .foot_up .up_right .right_link .link_a1 div{
    background: url(../img/biliapp_qrcode.png) no-repeat center;   
    display: none;
    position: absolute;
    top: -125px;
    left: -25px;
    width: 117px;
    height: 117px;
    /* background: #fff; */
    border: 1px solid #eee;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
}
.foot .foot_up .up_right .right_link .link_a1:hover div{
    
   display: block;
}
.foot .foot_up .up_right .right_link .link_a1 .icon-yishengduantubiao-11{
    color: #fe596c;
}
.foot .foot_up .up_right .right_link .link_a1 .icon-weixin{
    color: #42c86b;
}
.foot .foot_buttom{
    display: flex;
    padding-top: 30px;
    color: #999;
    width: 1320px;
    margin: 0 auto;
    padding-left: 46px;

}
.foot .foot_buttom .buttom_left{
    width: 100px;
    margin-right: 20px;
    color: #999;
}
.foot .foot_buttom .buttom_left img:nth-of-type(1){
    width: 96px;
    height: 75px;
}
.foot .foot_buttom .buttom_left img:nth-of-type(2){
   margin: 5px 0;
   width: 100px;
   /* aspect-ratio: auto 100 / 40; */
   height: 40px;
}
.foot .foot_buttom .buttom_right{
    width: calc(100%-120px);
    color: #999;
}
.foot .foot_buttom .buttom_right a{
    color: #999;
}
.foot .foot_buttom .buttom_right p{
    line-height: 24px;
    color: #999;
}
.foot .foot_buttom .buttom_right p span{
    margin-right: 15px;
    display: inline-block;
    line-height: 24px;
    color: #999;
}


 .sprite {
    display: inline-block;
    background-image: url(https://s1.hdslb.com/bfs/seed/jinkela/footer-v2/images/hz_icon.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 3px;
}
.bg1{
    width: 16px;
    height: 16px;
    background-position: 0 -2px;
    display: inline-block;
    background-image: url(https://s1.hdslb.com/bfs/seed/jinkela/footer-v2/images/hz_icon.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 3px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #999;
}
.bg2{
    width: 18px;
    height: 20px;
    background-position: -41px 0px;
}
.bg3{
    width: 16px;
    height: 16px;
    background-position: -18px -3px;  
}






/* -------------------遮罩----------------- */








