@font-face {
  font-family: "iconfont"; /* Project id 2789539 */
  src: url('iconfont.woff2?t=1630722955581') format('woff2'),
       url('iconfont.woff?t=1630722955581') format('woff'),
       url('iconfont.ttf?t=1630722955581') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huanyihuan:before {
  content: "\e65e";
}

.icon-UPzhu:before {
  content: "\e665";
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-sousuo:before {
  content: "\e638";
}

.icon-shouji:before {
  content: "\e698";
}

.icon-weixin:before {
  content: "\ed3e";
}

.icon-bilibili-fill:before {
  content: "\eea8";
}

.icon-liulanliang:before {
  content: "\e6d4";
}

.icon-yishengduantubiao-11:before {
  content: "\e674";
}

.icon-fanhuidingbu:before {
  content: "\e600";
}

.icon-up2:before {
  content: "\e601";
}

.icon-bofang:before {
  content: "\e68f";
}

.icon-left:before {
  content: "\e63b";
}

.icon-xiazai:before {
  content: "\e60c";
}

